In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('mtcars.csv')

In [4]:
df.head(5)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
df['gear'].mean()

3.6875

In [21]:
df['mpg'].mean()

20.090625000000003

In [ ]:
df['model'].

In [16]:
df['gear'].unique()

array([4, 3, 5], dtype=int64)

In [18]:
df['mpg'].mean()

20.090625000000003

In [19]:
df['gear'].value_counts()

gear
3    15
4    12
5     5
Name: count, dtype: int64