In [ ]:
#Datatypes
string = 'Hello'
list = []
dict = {}
tuple = ()
set = {}
frozenset = ()
Int
float
complex
Boolean

In [1]:
s = 'Hello'
s

'Hello'

In [2]:
lst = [5, 10, 25, 45]
lst

[5, 10, 25, 45]

In [4]:
len(lst)

4

In [6]:
d2 = {'A': 5,
    'B':6}

d2

{'A': 5, 'B': 6}

In [10]:
d3={'C':5,
   'D':8}

In [12]:
d2.update(d3)
d2

{'A': 5, 'B': 6, 'C': 5, 'D': 8}

In [20]:
d2.get('B')

6

In [22]:
d2.pop('B')
d2

{'A': 5, 'C': 5, 'D': 8}

In [23]:
d2

{'A': 5, 'C': 5, 'D': 8}

In [25]:
d2.pop('D')
d2

{'A': 5, 'C': 5}

In [ ]:
d2.popitem('A', 'D')

In [27]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [28]:
print(pop)

NameError: name 'pop' is not defined

In [29]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [31]:
d2.

{'A': 5, 'C': 5}

In [32]:
d2.pop('A')
d2.pop('C')
d2

{}

In [ ]:
d2.

In [7]:
t1 = (5, 12, 'M',5)
t1

(5, 12, 'M', 5)

In [ ]:
+ 
-
=
/
//
**

In [ ]:
s = ''

## 26. Write a Python program to find common items from two lists

In [43]:
a = [2, 5, 8, 9]
b = [2, 5, 10, 55]
n = []

for i in a:
    if i in b:
        n.append(i)
print(n)

[2, 5]

In [4]:
#sort dict by key
a = {'D':15,'E':100,'A':222}
b = {}
for i in sorted(a.keys()):
    b[i]=a[i]
b

{'A': 222, 'D': 15, 'E': 100}

In [8]:
#sort dict by value
a = {'D':335,'E':100,'A':222}
b = dict(sorted(a.items(), key=lambda x : x[1]))
b

{'E': 100, 'A': 222, 'D': 335}

In [11]:
#sum 
#sort dict by value
a = {'D':335,'E':100,'A':222}
sum(a.values())

657

In [14]:
#remove key 
a = {'D':335,'E':100,'A':222}
a.pop('E')
a

{'D': 335, 'A': 222}

In [16]:
#merge 2 dict 
a = {'D':335,'E':100,'A':222}
b = {'C':25, 'F':55, 'W':852}
a.update(b)
a

{'D': 335, 'E': 100, 'A': 222, 'C': 25, 'F': 55, 'W': 852}

In [17]:
#grade calculator 
def grade(score):
    if score > 95:
        return 'A+'
    elif score > 90:
        return 'A'
    elif score > 80:
        return 'B'

In [20]:
#print anagramd using list 
a = ['eat','tea','tan','nat','bat']
b = {}
for i in a:
    c = ''.join(sorted(i))
    if c in b:
        b[c].append(i)
    else:
        b[c]=[i]
print(list(b))

['aet', 'ant', 'abt']

In [22]:
#2 numbers anagrams 
from collections import Counter
def ananum(a1,a2):
    b1=bin(a1)[2:]
    b2=bin(a2)[2:]
    f1=Counter(b1)
    f2=Counter(b2)
    return f1==f2

In [24]:
#largest subset of anagram word 
from collections import Counter
def large(words):
    b = Counter()
    for i in words:
        c = ''.join(sorted(i))
        b[i] += 1
    maxx=max(b.items())
    maxx

In [27]:
#minor character in string 
def minor(string):
    b = {}
    for i in string:
        if i in b:
            b[i] += 1
        else:
            b[i] = 1
    minn = min(b, key=b.get)
    minn

In [28]:
#list of tuple with cube 
def cube(lst):
    return [(i,i**3) for i in lst]

In [30]:
#sort list of tuple by second item 
a = [(2,55),(1,55),(7,8)]
b = sorted(a, key=lambda x: x[1])
b

[(7, 8), (2, 55), (1, 55)]

In [31]:
#selection sort
def ss(arr):
    for i in range(len(arr)):
        minn = i
        for j in range(i+1,len(arr)):
            if arr[j] < arr[minn]:
                minn = j
            temp = arr[i]
            arr[i]= arr[minn]
            arr[minn]=temp

In [32]:
#Buble sort
def buble(arr):
    for i in range(len(arr)-1,0,-1):
        for j in range(i):
            if arr[j] > arr[j+1]:
                temp = arr[j]
                arr[j]=arr[j+1]
                arr[j+1]=temp

In [33]:
#merge sort
def merge(arr):
    if len(arr)<=1:
        return arr
    mid = len(arr)//2
    left = merge(arr[:mid])
    right = merge(arr[mid:])
    return sorted(left+right)

In [34]:
#largest prime factor of number 
def largefact(n):
    i = 2
    while i*i <=n:
        if n%i:
            i += 1
        else:
            n//=i
    return n

In [35]:
#Unique pime factors of number 
def pm(n):
    i=2
    f=[]
    while i*i<=n:
        if n%i:
            i+=1
        else:
            n//=i
            f.append(i)
    if n>1:
        f.append(n)
    return f

In [36]:
#find factorail 
n=10
f = 1
for i in range(1,n+1):
    f = f *i
print(f)

3628800

In [38]:
#finf sum of odd factor of number 
def odd_fact(n):
    total = 0
    for i in range(1,n+1):
        if n%i==0 and i%2==0:
            total += 1
    total

In [41]:
#number of elements with odd factors in gievn range
import math 
def odd_fact(a,b):
    asq = math.ceil(math.sqrt(a))
    bsq = math.floor(math.sqrt(b))
    return max(0, asq-bsq+1)

In [42]:
#common divisors of number 
def common(a,b):
    d = []
    minn =min(a,b)
    for i in range(1,minn+1):
        if a%i==0 and b%i==0:
            c.append(i)
    d

In [43]:
#check if count of divisors is even or odd
def count_d(n):
    count = 0
    for i in range(1,n+1):
        if n%i==0:
            count += 1
    return count

In [45]:
#min sum of factors of number 
def sum_fact(n):
    total = 0
    for i in range(1,n+1):
        if n%i==0:
            total += i
    return total

In [54]:
#diff bw odd & evn digits
def diff(n):
    odd = 0
    even = 0
    for i in str(n):
        if int(i)%2==0:
            even += 1
        else:
            odd += 1
    return odd-even

In [56]:
# Largest K digit divisible by x 
def large(K,X):
    maxx= pow(10,K)-1
    return maxx-(maxx%X)

In [57]:
def small(k,x):
    minn=pow(10,k-1)
    if minn % x==0:
        return minn
    else:
        minn + (x-(minn%x))

In [59]:
#area of Tehrahedrom 
import math 
def tehr(side):
    return math.sqrt(3)*(side*side)

In [60]:
#perimeter of cylinder 
def per(d,h):
    return 2*(d+h)

In [64]:
#most occuring char and count
from collections import Counter 
def ms(string):
    Count = Counter(string)
    m_c, m_cc = Count.most_common(1)[0]
    return m_c,m_cc

In [65]:
ms('maayur')

('a', 2)

In [67]:
#check if all digit of number divide it 
def divide(n):
    for i in str(n):
        if i=='0' or n%int(i)!=0:
            return False
    return True

In [68]:
divide(55)

True

In [1]:
#float decimal to octal number 
def octt(n):
    b = int(n)
    return oct(b)[2:]

In [2]:
octt(77.77)

'115'

In [3]:
#copy odd line inot another file 
def oddfile(file):
    odd = []
    with open (file,'r') as file:
        for i,v in enumerate(file):
            if i%2!=0:
                odd.append(v.strip())
    return '/n'.join(odd)

In [6]:
#Replace whitespace & blankspace
def mod(text):
    a = ''
    for i in text:
        if i==' ':
            a += '_'
        elif i=='_':
            a += ' '
        else:
            a += i
    return a

In [7]:
#YY-MM-DD to DD-MM-YY
def date(date):
    yy,mm,dd = date.split('-')
    a = f'{dd}-{mm}={yy}'
    return a

In [8]:
# find 'a' or 'e' in string 
string = ''
b = {'a':0,'b':0}
for i in string:
    if i=='a' or i=='e':
        b[i] += 1
print(b)

{'a': 0, 'b': 0}

In [10]:
#sort list of tuple using lambda 
a = [(10,'D'),(55,'R'),(1,'T')]
b = sorted(a, key=lambda x: x[0])
b

[(1, 'T'), (10, 'D'), (55, 'R')]

In [12]:
# sort list of dict 
a = [{'A': 'D', 'Age': 25},
    {'B': 'E', 'Age': 63},
    {'C': 'F', 'Age': 20}]
b = sorted(a, key=lambda x:x['Age'])
b

[{'C': 'F', 'Age': 20}, {'A': 'D', 'Age': 25}, {'B': 'E', 'Age': 63}]

In [14]:
#cube using lambda 
a = [1,2,3,4,5]
b = list(map(lambda x: x**3,a))
b

[1, 8, 27, 64, 125]

In [17]:
#chech is tring start with 
a = lambda start,char : start[0]==char
a('Mayur','M')

True

In [22]:
#string is number or not using lambda 
a = lambda x: x.isdigit()
a('8551 Mayur')

False

In [25]:
#Fibonaci using lambda 
a = lambda x: x if x<2 else a(x-1) + a(x-2)
for i in range(10):
    print(a(i))

0
1
1
2
3
5
8
13
21
34

In [27]:
#intersection of list using lambda 
a = [1,2,3,4,5]
b = [2,3,4,5,6]
c = list(map(lambda x: x in a,b))
c

[True, True, True, True, False]

In [33]:
#Rearrnage -ve & +ve using lambda
a = [-1,-5,-8,12,-88,9,524,1]
b = sorted(a,key=lambda x: x>0)
b

[-1, -5, -8, -88, 12, 9, 524, 1]

In [40]:
#odd & even using lambda 
a = [1,2,3,4,5,6,7,8,9]
b = len(list(filter(lambda x: x%2==0,a)))
c = len(list(filter(lambda x: x%2!=0,a)))
print(b)
print(c)

4
5

In [41]:
a = [1,2,3,4,5,6,7,8,9]
b = list(filter(lambda x: x%2==0,a))
c = list(filter(lambda x: x%2!=0,a))
print(b)
print(c)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [48]:
#no. divide by 13 & 19 
a = [25,96,33,66,85,77,36,26,19,45,1230,130,190]
b = list(filter(lambda x: x%13==0 or x%19==0,a))
b

[26, 19, 130, 190]

In [49]:
#Palindrome using lambda 
a = ["radar", "python", "level", "hello", "madam"]
b = list(filter(lambda x: x==x[::-1],a))
b

['radar', 'level', 'madam']

In [52]:
#check anagram using lambda 
a = lambda x1,x2:sorted(x1)==sorted(x2)

In [53]:
a('cat', 'tac')

True

In [57]:
#multiply number using lambda 
a = [1,2,3,4,5]
b = list(map(lambda x: x*2,a))
b

[2, 4, 6, 8, 10]

In [62]:
#+ve & -ve numbers using lambda
a = [1,-2,3,-2,9,8]
b = list(filter(lambda x: x >0,a))
c = list(filter(lambda x: x <0,a))
print(b,c)

[1, 3, 9, 8] [-2, -2]

In [64]:
#max & min list using lambda 
a = [[1, 2], [3, 4, 5], [6], [7, 8, 9, 10]]
b = max(a, key=lambda x:len(x))
c = min(a, key=lambda x:len(x))
print(b,c)

[7, 8, 9, 10] [6]

In [72]:
#check list sorted or not using lambda 
a = [1, 2, 3, 4, 77, 8, 66, 12, 25]
b = lambda a: a == sorted(a)
b(a)

False

In [74]:
#element present in a & not in b
a = [1, 2, 3, 4, 5, 6]
b = [2, 4, 6]
c = list(filter(lambda x: x not in b,a))
c

[1, 3, 5]

In [75]:
a = [1, 2, 3, 4, 5, 6]
b = [2, 4, 6]
c = list(filter(lambda x: x not in a,b))
c

[]

In [77]:
#convert string in tuple to integer 
a = ('1', '2', '3', '4', '5')
b = tuple(map(lambda x: int(x),a))
b

(1, 2, 3, 4, 5)

In [78]:
#Count occurance using dict 
from collections import Counter
a = [1, 2, 2, 3, 4, 4, 4, 5, 6, 6]
b = dict(Counter(a))
b

{1: 1, 2: 2, 3: 1, 4: 3, 5: 1, 6: 2}

In [79]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]
d = list(map(lambda x,y,z:x+y+z, a,b,c))
d

[12, 15, 18]

In [80]:
#listify string 
a = ['hello', 'world', 'python']
b = list(map(list,a))
b

[['h', 'e', 'l', 'l', 'o'],
 ['w', 'o', 'r', 'l', 'd'],
 ['p', 'y', 't', 'h', 'o', 'n']]

In [88]:
#Square using lambda & map()
a = [1,2,3,4,5]
b = list(map(lambda x: x**2,a))
b

[1, 4, 9, 16, 25]

In [89]:
#Add 2 list & find difference 
a = [10, 20, 30, 40]
b = [1, 2, 3, 4]
c = list(map(lambda x,y: x+y,a,b))
d = list(map(lambda x,y: x-y,a,b))
print(c,d)

[11, 22, 33, 44] [9, 18, 27, 36]

In [90]:
# convert list & tuple into list of string 
a = [10, 20, 30, 40]
b = (1, 2, 3, 4)
c = list(map(str,a))
d = list(map(str,b))
print(c,d)

['10', '20', '30', '40'] ['1', '2', '3', '4']

In [91]:
#Sum of list using lambda 
a = [1,2,3,4,5]
b = sum(map(lambda x: x,a))
b

15

In [92]:
#count pair in list using lambda 
a = [1,2,3,4,5]
b = [5,4,3,2,1]
c = sum(map(lambda x: x in b,a))
c

5

In [93]:
#make seperate list from list of strings 
a = ['apple', 'banana', 'cherry']
b = list(map(lambda x: list(x),a))
b

[['a', 'p', 'p', 'l', 'e'],
 ['b', 'a', 'n', 'a', 'n', 'a'],
 ['c', 'h', 'e', 'r', 'r', 'y']]

In [96]:
#list of tuple to list of string 
a = [('a', 'b', 'c'), ('d', 'e', 'f'), ('g', 'h', 'i')]
b = list(map(lambda x: ''.join(x),a))
b

['abc', 'def', 'ghi']

In [98]:
#Diff bw 2 list
a = [1,2,3,4,5]
b = [5,4,3,2,1]
c = list(filter(lambda x: x not in b,a))
c

[]

In [99]:
#common item 
a = [1,2,3,4,5]
b = [5,4,3,2,1]
c = list(filter(lambda x: x in b,a))
c

[1, 2, 3, 4, 5]

In [100]:
#odd numbers 
a = [1,2,3,4,5]
b = list(filter(lambda x: x%2!=0,a))
b

[1, 3, 5]

In [101]:
#even numbers 
a = [1,2,3,4,5]
b = list(filter(lambda x: x%2==0,a))
b

[2, 4]

In [102]:
#Filter non vovels from list 
chars = ['a', 'b', 'c', 'e', 'i', 'o', 'u', 'x', 'y', 'z']
vowels = {'a', 'e', 'i', 'o', 'u'}
b = list(filter(lambda x: x in vowels,chars))
b

['a', 'e', 'i', 'o', 'u']

In [ ]:
#RE

In [3]:
import re 
text = "Contact us at 1234567890 for more information."
p = "[0-9]{10}"
a = re.findall(p,text)
a

['1234567890']

In [7]:
text = "Contact us at 123-456-7890 for more information."
p = "[0-9]{3}[-][0-9]{3}[-][0-9]{4}"
a = re.findall(p,text)
a

['123-456-7890']

In [12]:
#checking date 
a = "Your appointment is scheduled for 2024-09-18. Please be on time."
p = "[0-9]{4}[-][0-9]{2}[-][0-9]{2}"
c = re.findall(p,a)
c

['2024-09-18']

In [13]:
#email id 
a = "Please contact us at support@example.com for further assistance."
p = "[a-z]{7}[@][a-z]{7}[.][a-z]{3}"
b = re.findall(p,a)
b

['support@example.com']

In [20]:
#\d
a = "You can reach us at support@example.com or call us at +91-1234567890 for assistance."
p = "\+91-\d{10}"
b = re.findall(p,a)
b

['+91-1234567890']

In [25]:
#\D
a = "You can reach us at support@example.com or call us at +91-1234567890 for assistance."
d = re.findall('\D',a)
print(''.join(d))

You can reach us at support@example.com or call us at +- for assistance.

In [29]:
#\w
a = "You can reach us at support@example.com or call us at +91-1234567890 for assistance."
d = re.findall('\w',a)
print(''.join(d))

Youcanreachusatsupportexamplecomorcallusat911234567890forassistance

In [30]:
#\W
a = "You can reach us at support@example.com or call us at +91-1234567890 for assistance."
d = re.findall('\W',a)
print(''.join(d))

     @.     +-  .

In [31]:
#\s
a = "You can reach us at support@example.com or call us at +91-1234567890 for assistance."
d = re.findall('\s',a)
d

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [35]:
#\S
a = "You can reach us at support@example.com or call us at +91-1234567890 for assistance."
d = re.findall('\S',a)
print(''.join(d))

Youcanreachusatsupport@example.comorcallusat+91-1234567890forassistance.

In [41]:
#\b
a = "You can reach us at support@example.com or call us at +91-1234567890 for assistance."
d = re.findall(r"\bus\b",a)
d

['us', 'us']

In [45]:
#\B
a = "You can reach us at support@example.com or call us at +91-1234567890 for assistance."
d = re.findall(r"\Bus",a)
d

[]

In [46]:
#sub()
text = "The cat sat on the cat."
b = re.sub('the','00',text)
b

'The cat sat on 00 cat.'

In [49]:
#+
text = "Heeeellooo"
pattern = "o+"
a = re.findall(pattern, text)
a

['ooo']

In [50]:
# * 
text = "Heellooo"
pattern = r"o*"
matches = re.findall(pattern, text)
print(matches)

['', '', '', '', '', 'ooo', '']

In [51]:
text = "The numbers are 42, 123, and 7890."
pattern = r"\d*"
matches = re.findall(pattern, text)
print(matches)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '42', '', '', '123', '', '', '', '', '', '', '7890', '', '']

In [53]:
# . 
text = "aabc ac abc"
pattern = r"ab."
matches = re.findall(pattern, text)
print(matches)

['abc', 'abc']

In [55]:
# ?

text = "a b c d"
pattern = "a?b?"
matches = re.findall(pattern, text)
print(matches)

['a', '', 'b', '', '', '', '', '']

In [57]:
# ^
text = "Hello world"
pattern = r"^Hello"
match = re.findall(pattern, text)
match

['Hello']

In [ ]:
#Assignment 9

In [ ]:
#read entire file 
def read(filename):
    with open (filename, 'r') as file:
        content = read.file()
    return content

In [ ]:
#read n lines of file
with open (filename, 'r') as file:
    for i in range(n):
        line=file.readline()
        if not line:
            break
        print(line,end='')

In [ ]:
#add text in file 
with open (filenane,'r') as file:
    file.write('text' + '\n')
with open (filename,'r') as file:
    content = file.read()
return content

In [ ]:
#read last lines 
with open(filename, 'r') as file:
    content = file.readlines()
last = file[-n:]
for i in last:
    print(i,end='')

In [ ]:
#read lines & store in list
with open(filename, 'r') as file:
    lines =  file.readlines()
lines = [i.strip() for i in lines]
print(lines)

In [ ]:
#count no. of lines in file
with open(filename, 'r') as file:
    count_l = len(file.readlines())
print(f"Number of lines is: {count_l}")

In [ ]:
#count of frequency of words in file
b ={}
with open (filename, 'r') as file:
    for i in file:
        if i in b:
            b[i] += 1
        else:
            b[i] =1
return b

In [ ]:
#copy content of 1 file to another 
with open(s_filename, 'r') as s_f:
    a = s_f.read()
with open(d_filename, 'r') as d_f:
    d_f.write(a)

In [69]:
from datetime import datetime 
a = datetime.now()
print(a.strftime("%y-%m-%d %h:%M:%S"))
print(a.strftime("%y"))
print(a.strftime("%B"))
print(a.strftime("%W"))
print(a.strftime("%A"))
print(a.strftime("%j"))
print(a.strftime("%d"))
print(a.strftime("%w"))

24-09-18 Sep:04:24
24
September
38
Wednesday
262
18
3

In [70]:
#check leap year
def leap(year):
    return (year %4==0 and year%100!=0) or (year%400==0)

In [74]:
#conevert datetime 
from datetime import datetime

a = 'Jan 1 2024 12:07AM'
b = datetime.strptime(a, "%b %d %Y %I:%M%p")
formatted_date = b.strftime("%Y-%b-%d %H:%M:%S")
formatted_date

'2024-Jan-01 00:07:00'

In [79]:
#subtract 5 days from today 
from datetime import datetime, timedelta
a = datetime.now()
b = a - timedelta(days=5)
b

datetime.datetime(2024, 9, 13, 14, 18, 39, 64374)

In [82]:
#yesterday, today, tommorow
a = datetime.now()
b = a - timedelta(days=1)
c = a + timedelta(days=1)
print(a)
print(b)
print(c)

2024-09-18 14:20:08.892885
2024-09-17 14:20:08.892885
2024-09-19 14:20:08.892885

In [86]:
#next 5 days 
a = datetime.now()
for i in range(5):
    b = a + timedelta(i)
    print(b.date())

2024-09-18
2024-09-19
2024-09-20
2024-09-21
2024-09-22

In [88]:
#drop microsecond 
a = datetime.now()
b = a.replace(microsecond=0)
b

datetime.datetime(2024, 9, 18, 14, 23, 38)

In [95]:
#date of first monday of given week 
from datetime import datetime, timedelta
def week(year,week):
    a = datetime.strptime(f"{year} {week} 1","%Y %W %w")
    return a.date()

In [96]:
week(2024,35)

datetime.date(2024, 8, 26)

In [ ]:
#select all sundays of specified years 
import calendar 
y = 2024
for month in range(1,13):
    for week in calendar.monthcalendar(year,month):
        if week[6]!=0:
            print(week[6])

In [104]:
#Create file, write some text, rename file
import os 
org = 'a.txt'
new = 'b.txt'
with open(org, 'w') as file:
    file.write('sdfsd')
os.rename(org,new)